In [ ]:
#SURVEY
#1 - Load the dataset into a pandas dataframe. Name the variable as “survey”. 
#2 - How many samples were collected on each day? 
#3 - What proportion of the total respondents were aged less than 45? 
#4 - Create a new column in the dataframe “age_group”. This column should contain the age group the respondent belongs to. The age groups are 18-25, 25-40, 40-55 and 55+. The dataframe should look like this after the column creation. 
#5 - How many samples were collected for each age-group? Which age-group had the most samples? 
#6 - What proportion of the respondents had opted for the RJD party in both the Vote_Now and the Past_Vote questions? 
#7 - For each day of sample collection, determine the proportion of respondents who were fully satisfied with the performance of the CM. So if there were a total of 1000 samples on day 1 and 300 out of those said they were fully satisfied, then our answer for that day would be 0.3. 
#8 - In a similar fashion create a day-wise proportion of respondents that opted fully dissatisfied with their MLA. Create a line plot of the result with date on x-axis and proportions on the y-axis. 
#9 - Create a pivot-table (or crosstab) with index as Past_Vote, Column as Vote_Now and cell values as the count of samples. Answer - survey.pivot_table(index = 'Past_Vote', columns = 'Vote_Now', values = 'response_id', aggfunc = 'count') 
#10 - Repeat the above question with the cell values as the sum of “weight”. 
#11 - Create a dataframe by performing a group by over age_group and calculate the count of total samples under each age_group. 
#12 - Create a dataframe by performing a group by over age_group and finding the count of total samples for each age_group that opted for the JD(U) party in Vote_Now. 
#13 - Join/Merge the two dataframes from questions 12 and 11 with the common column as age_group.

In [2]:
#upload csv file
import pandas as pd
survey=pd.read_csv(r"D:\STUDY\PYTHON\BIG DATA PRACTICE\DSL data sets\9. Survey Dataset - Technical Interview.csv")

In [5]:
#SOLUTION 1 - Load the dataset into a pandas dataframe. Name the variable as “survey

In [6]:
survey

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ₹ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,Male,166,Gen,0.036329
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,169,BC,0.252780
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,Male,243,Gen,0.080137
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,Male,241,Gen,1.797518

In [7]:
survey.head(2)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419

In [ ]:
#SOLUTION 2 - How many samples were collected on each day?

In [8]:
survey.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969

In [12]:
survey.collection_date.unique()

array(['5-24-2017', '5-25-2017', '5-26-2017', '5-27-2017', '5-28-2017',
       '5-29-2017', '5-30-2017', '5-31-2017', '6-1-2017'], dtype=object)

In [10]:
survey.groupby("collection_date").weight.sum()

collection_date
5-24-2017    1603.292440
5-25-2017     978.823365
5-26-2017     524.713123
5-27-2017     546.518462
5-28-2017     761.530009
5-29-2017     765.806120
5-30-2017     512.434387
5-31-2017     557.019170
6-1-2017      588.021526
Name: weight, dtype: float64

In [ ]:
#SURVEY 3 - What proportion of the total respondents were aged less than 45?

In [11]:
survey.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969

In [14]:
survey.dtypes

response_id           int64
collection_date      object
urban_rural          object
education            object
income               object
Vote_Now             object
Past_Vote            object
CM_satisfaction      object
MLA_satisfaction     object
age                  object
gender               object
assembly_no           int64
category             object
weight              float64
dtype: object

In [18]:
survey.age.unique()

array(['26', '34', '25', '36', '22', '38', '23', '42', '51', '29', '24',
       '30', '39', '37', '19', '44', '53', '32', '21', '18', '20', '27',
       '48', '28', '45', '74', '35', '31', '70', '40', '49', '46', '43',
       '41', '33', '58', '24ko', '56', '50', '55', '54', '62', '60', '59',
       '47', '61', '52', '66', '57', '67', '65', '71', '63', '64', '68',
       '69', '99', '72', '75', '76'], dtype=object)

In [29]:
survey.age.replace({"24ko":24},inplace=True)

In [31]:
#To replace any(or missing) item of the series with a new value using dictionary format. 
#df.Col_name.replace( ) - df.Col.replace({1:‘one’ , ‘b’:‘bombay’, np.nan:s.mean( )}) }, inplace = True)
survey.age.unique()

array(['26', '34', '25', '36', '22', '38', '23', '42', '51', '29', '24',
       '30', '39', '37', '19', '44', '53', '32', '21', '18', '20', '27',
       '48', '28', '45', '74', '35', '31', '70', '40', '49', '46', '43',
       '41', '33', '58', 24, '56', '50', '55', '54', '62', '60', '59',
       '47', '61', '52', '66', '57', '67', '65', '71', '63', '64', '68',
       '69', '99', '72', '75', '76'], dtype=object)

In [38]:
#df.Col_name.astype(int / float / str) 
survey["age"]=survey.age.astype(int)

In [39]:
survey.dtypes

response_id           int64
collection_date      object
urban_rural          object
education            object
income               object
Vote_Now             object
Past_Vote            object
CM_satisfaction      object
MLA_satisfaction     object
age                   int32
gender               object
assembly_no           int64
category             object
weight              float64
dtype: object

In [41]:
survey[survey.age<45]

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ₹ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,Male,166,Gen,0.036329
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,169,BC,0.252780
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,Male,243,Gen,0.080137
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,Male,241,Gen,1.797518

In [42]:
len(survey[survey.age<45])

6399

In [44]:
6867-6399

468

In [46]:
6399/6867*100

93.18479685452162

In [ ]:
#SOLUTION 4 - Create a new column in the dataframe “age_group”. This column should contain the age group 
#the respondent belongs to. The age groups are 18-25, 25-40, 40-55 and 55+. The dataframe should look like this after 
#the column creation.

In [47]:
survey.head(2)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419

In [ ]:
#df.insert( index , ‘new_column_name’, new_column_values) - To insert a New column at a particular position with values in it

In [48]:
survey.insert(11,"age_group",survey.age)

In [49]:
survey

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,age_group,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,26,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,34,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,25,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,36,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,22,176,BC,0.333505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ₹ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,Male,25,166,Gen,0.036329
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,30,169,BC,0.252780
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,Male,20,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,Male,23,243,Gen,0.080137
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,Male,33,241,Gen,1.797518

In [83]:
survey1=survey[(survey.age_group>18) & (survey.age_group<25)]

In [84]:
survey1

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,age_group,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,22,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,Male,23,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,Male,24,199,Gen,0.226477
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,Male,24,194,BC,0.769738
18,19,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",JAP(L),JD(U),Somewhat Dissatisfied,Fully Dissatisfied,23,Male,23,188,BC,0.040519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6858,6859,6-1-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Fully Satisfied,24,Male,24,241,Gen,1.812926
6859,6860,6-1-2017,Urban,Post - Graduation,"₹ 5,000 - ₹ 10,000",Left Front,Did not vote,Fully Dissatisfied,Somewhat Satisfied,21,Male,21,146,EBC,1.558234
6861,6862,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",BJP,BJP,Fully Dissatisfied,Somewhat Satisfied,22,Male,22,166,Gen,0.080137
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,Male,20,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,Male,23,243,Gen,0.080137

In [85]:
survey1["age_group"]="18-25"

C:\Users\Swapnil\AppData\Local\Temp\ipykernel_13932\2943054417.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survey1["age_group"]="18-25"

In [86]:
survey2=survey[(survey.age_group>25) & (survey.age_group<40)]

In [87]:
survey2["age_group"]="25-40"

C:\Users\Swapnil\AppData\Local\Temp\ipykernel_13932\2585436635.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survey2["age_group"]="25-40"

In [90]:
survey3=survey[(survey.age_group>41) & (survey.age_group<55)]

In [92]:
survey3["age_group"]="41-55"

C:\Users\Swapnil\AppData\Local\Temp\ipykernel_13932\3110571471.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survey3["age_group"]="41-55"

In [77]:
survey4=survey[(survey.age_group>55) & (survey.age_group<100)]

In [93]:
survey4["age_group"]="55 plus"

C:\Users\Swapnil\AppData\Local\Temp\ipykernel_13932\1735748947.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survey4["age_group"]="55 plus"

In [94]:
survey1

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,age_group,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,18-25,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,Male,18-25,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,Male,18-25,199,Gen,0.226477
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,Male,18-25,194,BC,0.769738
18,19,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",JAP(L),JD(U),Somewhat Dissatisfied,Fully Dissatisfied,23,Male,18-25,188,BC,0.040519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6858,6859,6-1-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Fully Satisfied,24,Male,18-25,241,Gen,1.812926
6859,6860,6-1-2017,Urban,Post - Graduation,"₹ 5,000 - ₹ 10,000",Left Front,Did not vote,Fully Dissatisfied,Somewhat Satisfied,21,Male,18-25,146,EBC,1.558234
6861,6862,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",BJP,BJP,Fully Dissatisfied,Somewhat Satisfied,22,Male,18-25,166,Gen,0.080137
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,Male,18-25,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,Male,18-25,243,Gen,0.080137

In [95]:
survey2

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,age_group,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,25-40,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,25-40,189,BC,0.603419
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,25-40,194,Gen,1.101298
5,6,5-24-2017,Urban,Graduate,"₹ 20,000 - ₹ 30,000",Others,BJP,Somewhat Satisfied,Fully Dissatisfied,38,Male,25-40,178,Gen,0.382603
6,7,5-24-2017,Urban,Graduate,"BPL/Below ₹ 5,000",RJD,BJP,Fully Dissatisfied,Fully Dissatisfied,34,Male,25-40,172,BC,0.521283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6852,6853,6-1-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",Undecided,BJP,Fully Satisfied,Fully Satisfied,28,Male,25-40,149,SC,0.983441
6854,6855,6-1-2017,Rural,Post - Graduation,"₹ 5,000 - ₹ 10,000",RJD,BJP,Fully Dissatisfied,Fully Dissatisfied,37,Male,25-40,143,Gen,0.085030
6855,6856,6-1-2017,Rural,12th Pass,"₹ 5,000 - ₹ 10,000",NOTA,JD(U),Fully Dissatisfied,Fully Dissatisfied,30,Male,25-40,241,EBC,0.174156
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,25-40,169,BC,0.252780
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,Male,25-40,241,Gen,1.797518

In [70]:
survey3

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,age_group,assembly_no,category,weight
11,12,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",LJP,JD(U),Somewhat Satisfied,Fully Dissatisfied,42,Male,41-55,183,BC,2.824391
12,13,5-24-2017,Urban,Post - Graduation,"₹ 5,000 - ₹ 10,000",Undecided,JD(U),Somewhat Dissatisfied,Somewhat Dissatisfied,51,Male,41-55,183,SC,20.558759
28,29,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,44,Male,41-55,205,BC,1.337935
30,31,5-24-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",NOTA,NOTA,Fully Dissatisfied,Fully Dissatisfied,44,Male,41-55,183,Gen,1.344773
33,34,5-24-2017,Urban,Graduate,"₹ 50,000 - ₹ 80,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,53,Male,41-55,188,Gen,1.936195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6810,6811,6-1-2017,Rural,12th Pass,"₹ 1,50,000 & above",RJD,RJD,Somewhat Satisfied,Fully Dissatisfied,52,Male,41-55,150,Gen,2.112264
6812,6813,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",BJP,RJD,Somewhat Satisfied,Fully Satisfied,45,Male,41-55,142,Gen,0.710519
6829,6830,6-1-2017,Urban,Graduate,"₹ 20,000 - ₹ 30,000",JD(U),JD(U),Fully Satisfied,Somewhat Satisfied,48,Male,41-55,146,EBC,6.328899
6840,6841,6-1-2017,Rural,Graduate,"₹ 1,50,000 & above",NOTA,BJP,Fully Dissatisfied,Somewhat Satisfied,45,Male,41-55,241,BC,1.425852
6856,6857,6-1-2017,Rural,Post - Graduation,"₹ 50,000 - ₹ 80,000",RJD,JD(U),Somewhat Satisfied,Somewhat Dissatisfied,45,Male,41-55,150,BC,2.112264

In [96]:
survey3

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,age_group,assembly_no,category,weight
11,12,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",LJP,JD(U),Somewhat Satisfied,Fully Dissatisfied,42,Male,41-55,183,BC,2.824391
12,13,5-24-2017,Urban,Post - Graduation,"₹ 5,000 - ₹ 10,000",Undecided,JD(U),Somewhat Dissatisfied,Somewhat Dissatisfied,51,Male,41-55,183,SC,20.558759
28,29,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,44,Male,41-55,205,BC,1.337935
30,31,5-24-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",NOTA,NOTA,Fully Dissatisfied,Fully Dissatisfied,44,Male,41-55,183,Gen,1.344773
33,34,5-24-2017,Urban,Graduate,"₹ 50,000 - ₹ 80,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,53,Male,41-55,188,Gen,1.936195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6810,6811,6-1-2017,Rural,12th Pass,"₹ 1,50,000 & above",RJD,RJD,Somewhat Satisfied,Fully Dissatisfied,52,Male,41-55,150,Gen,2.112264
6812,6813,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",BJP,RJD,Somewhat Satisfied,Fully Satisfied,45,Male,41-55,142,Gen,0.710519
6829,6830,6-1-2017,Urban,Graduate,"₹ 20,000 - ₹ 30,000",JD(U),JD(U),Fully Satisfied,Somewhat Satisfied,48,Male,41-55,146,EBC,6.328899
6840,6841,6-1-2017,Rural,Graduate,"₹ 1,50,000 & above",NOTA,BJP,Fully Dissatisfied,Somewhat Satisfied,45,Male,41-55,241,BC,1.425852
6856,6857,6-1-2017,Rural,Post - Graduation,"₹ 50,000 - ₹ 80,000",RJD,JD(U),Somewhat Satisfied,Somewhat Dissatisfied,45,Male,41-55,150,BC,2.112264

In [97]:
survey4

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,age_group,assembly_no,category,weight
69,70,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",RJD,INC,Fully Dissatisfied,Fully Satisfied,74,Male,55 plus,192,ST,1.805903
74,75,5-24-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Somewhat Dissatisfied,Somewhat Satisfied,70,Male,55 plus,183,BC,0.343147
121,122,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",NOTA,Did not vote,Somewhat Satisfied,Fully Dissatisfied,58,Male,55 plus,187,Gen,2.092567
126,127,5-24-2017,Urban,Graduate,"₹ 80,000 - ₹ 1,50,000",NOTA,BJP,Fully Dissatisfied,Fully Dissatisfied,56,Male,55 plus,183,Gen,2.092567
277,278,5-24-2017,Urban,Post - Graduation,"₹ 30,000 - ₹ 50,000",BJP,BJP,Somewhat Satisfied,Somewhat Satisfied,58,Male,55 plus,186,Gen,1.917992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6579,6580,5-29-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,JD(U),Fully Dissatisfied,Fully Dissatisfied,67,Male,55 plus,141,SC,5.308107
6702,6703,5-31-2017,Urban,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Dissatisfied,Fully Dissatisfied,68,Male,55 plus,146,Gen,0.710519
6720,6721,5-31-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Satisfied,Fully Satisfied,76,Male,55 plus,168,Gen,1.535906
6787,6788,6-1-2017,Rural,10th Pass,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,60,Male,55 plus,144,SC,4.741094
6851,6852,6-1-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,66,Male,55 plus,165,Gen,0.300990

In [99]:
data=pd.concat([survey1,survey2,survey3,survey4])

In [100]:
data

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,age_group,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,18-25,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,Male,18-25,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,Male,18-25,199,Gen,0.226477
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,Male,18-25,194,BC,0.769738
18,19,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",JAP(L),JD(U),Somewhat Dissatisfied,Fully Dissatisfied,23,Male,18-25,188,BC,0.040519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6579,6580,5-29-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,JD(U),Fully Dissatisfied,Fully Dissatisfied,67,Male,55 plus,141,SC,5.308107
6702,6703,5-31-2017,Urban,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Dissatisfied,Fully Dissatisfied,68,Male,55 plus,146,Gen,0.710519
6720,6721,5-31-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Satisfied,Fully Satisfied,76,Male,55 plus,168,Gen,1.535906
6787,6788,6-1-2017,Rural,10th Pass,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,60,Male,55 plus,144,SC,4.741094
6851,6852,6-1-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,66,Male,55 plus,165,Gen,0.300990

In [ ]:
#SURVEY 5 - How many samples were collected for each age-group? Which age-group had the most samples? #

In [102]:
data

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,age_group,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,18-25,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,Male,18-25,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,Male,18-25,199,Gen,0.226477
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,Male,18-25,194,BC,0.769738
18,19,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",JAP(L),JD(U),Somewhat Dissatisfied,Fully Dissatisfied,23,Male,18-25,188,BC,0.040519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6579,6580,5-29-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,JD(U),Fully Dissatisfied,Fully Dissatisfied,67,Male,55 plus,141,SC,5.308107
6702,6703,5-31-2017,Urban,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Dissatisfied,Fully Dissatisfied,68,Male,55 plus,146,Gen,0.710519
6720,6721,5-31-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Satisfied,Fully Satisfied,76,Male,55 plus,168,Gen,1.535906
6787,6788,6-1-2017,Rural,10th Pass,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,60,Male,55 plus,144,SC,4.741094
6851,6852,6-1-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,66,Male,55 plus,165,Gen,0.300990

In [105]:
data.groupby("age_group").weight.sum()

age_group
18-25      1235.298994
25-40      2436.050849
41-55      2069.075845
55 plus     273.743870
Name: weight, dtype: float64

In [106]:
#SURVEY 6-What proportion of the respondents had opted for the RJD party in both the Vote_Now and the Past_Vote questions?

In [108]:
data.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,age_group,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,18-25,176,BC,0.333505

In [109]:
data.Vote_Now.unique()

array(['JD(U)', 'BJP', 'RJD', 'JAP(L)', 'Others', 'NOTA', 'BSP', 'RJJP',
       'Plurals', 'AAP', 'INC', 'LJP', 'RLSP', 'HAM', 'Undecided', 'VIP',
       'Left Front', 'AIMIM'], dtype=object)

In [110]:
data[(data.Vote_Now=="RJD") & (data.Past_Vote=="RJD")]

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,age_group,assembly_no,category,weight
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,Male,18-25,194,BC,0.769738
38,39,5-24-2017,Urban,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Can’t say,Can’t say,22,Male,18-25,181,SC,1.596987
47,48,5-24-2017,Urban,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,20,Male,18-25,172,BC,1.188838
85,86,5-24-2017,Rural,12th Pass,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,22,Male,18-25,187,BC,0.586158
120,121,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",RJD,RJD,Fully Satisfied,Fully Satisfied,23,Male,18-25,187,BC,0.891022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3012,3013,5-29-2017,Urban,Post - Graduation,"₹ 50,000 - ₹ 80,000",RJD,RJD,Somewhat Dissatisfied,Somewhat Satisfied,56,Male,55 plus,214,BC,4.052635
4753,4754,5-26-2017,Rural,Post - Graduation,"₹ 30,000 - ₹ 50,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,61,Male,55 plus,16,BC,4.650280
5493,5494,5-26-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,61,Male,55 plus,156,Gen,1.044473
5687,5688,5-29-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,62,Male,55 plus,156,EBC,10.814150
5830,5831,5-30-2017,Urban,Graduate,"₹ 50,000 - ₹ 80,000",RJD,RJD,Somewhat Dissatisfied,Fully Dissatisfied,59,Male,55 plus,48,Gen,2.359308

In [111]:
690/6867*100

10.048055919615553

In [ ]:
#SOLUTION 7 - For each day of sample collection, determine the proportion of respondents who were fully satisfied with the 
#performance of the CM. So if there were a total of 1000 samples on day 1 and 300 out of those said they were fully satisfied, 
#then our answer for that day would be 0.3.

In [112]:
data.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,age_group,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,18-25,176,BC,0.333505

In [113]:
data.CM_satisfaction.unique()

array(['Fully Satisfied', 'Fully Dissatisfied', 'Somewhat Dissatisfied',
       'Can’t say', 'Somewhat Satisfied'], dtype=object)

In [116]:
cm=data[data.CM_satisfaction=="Fully Satisfied"]

In [117]:
cm

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,age_group,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,18-25,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,Male,18-25,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,Male,18-25,199,Gen,0.226477
90,91,5-24-2017,Rural,Graduate,"₹ 80,000 - ₹ 1,50,000",JD(U),Did not vote,Fully Satisfied,Can’t say,22,Male,18-25,171,BC,0.333505
102,103,5-24-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",JD(U),JD(U),Fully Satisfied,Somewhat Dissatisfied,20,Male,18-25,173,BC,0.333505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6341,6342,5-26-2017,Rural,Post - Graduation,"₹ 30,000 - ₹ 50,000",JD(U),INC,Fully Satisfied,Somewhat Dissatisfied,70,Male,55 plus,142,BC,1.495606
6498,6499,5-28-2017,Urban,Post - Graduation,"₹ 10,000 - ₹ 20,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,61,Male,55 plus,168,Gen,0.300990
6513,6514,5-28-2017,Urban,Post - Graduation,"₹ 10,000 - ₹ 20,000",BJP,BJP,Fully Satisfied,Somewhat Satisfied,62,Male,55 plus,168,Gen,0.300990
6787,6788,6-1-2017,Rural,10th Pass,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,60,Male,55 plus,144,SC,4.741094
6851,6852,6-1-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,66,Male,55 plus,165,Gen,0.300990

In [118]:
cm.collection_date.value_counts()

5-24-2017    127
5-25-2017     82
5-28-2017     76
6-1-2017      65
5-29-2017     62
5-30-2017     60
5-31-2017     52
5-26-2017     47
5-27-2017     47
Name: collection_date, dtype: int64

In [119]:
618/6867*100

8.999563128003494

In [ ]:
#SOLUTION 8 - In a similar fashion create a day-wise proportion of respondents that opted fully dissatisfied with their MLA. 
#Create a line plot of the result with date on x-axis and proportions on the y-axis

In [120]:
data.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,age_group,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,18-25,176,BC,0.333505

In [125]:
mla=data[data.MLA_satisfaction=="Fully Dissatisfied"]

In [129]:
mla

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,age_group,assembly_no,category,weight
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,Male,18-25,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,Male,18-25,199,Gen,0.226477
18,19,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",JAP(L),JD(U),Somewhat Dissatisfied,Fully Dissatisfied,23,Male,18-25,188,BC,0.040519
47,48,5-24-2017,Urban,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,20,Male,18-25,172,BC,1.188838
49,50,5-24-2017,Rural,Graduate,"₹ 80,000 - ₹ 1,50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,24,Male,18-25,198,Gen,0.226477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6123,6124,5-24-2017,Urban,Professional Education,"₹ 20,000 - ₹ 30,000",RJD,INC,Somewhat Satisfied,Fully Dissatisfied,63,Male,55 plus,146,BC,0.344782
6262,6263,5-25-2017,Urban,Graduate,"₹ 1,50,000 & above",BJP,BJP,Somewhat Satisfied,Fully Dissatisfied,64,Male,55 plus,146,Gen,0.933257
6268,6269,5-25-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",BJP,HAM,Somewhat Satisfied,Fully Dissatisfied,59,Male,55 plus,164,SC,4.529648
6579,6580,5-29-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,JD(U),Fully Dissatisfied,Fully Dissatisfied,67,Male,55 plus,141,SC,5.308107
6702,6703,5-31-2017,Urban,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Dissatisfied,Fully Dissatisfied,68,Male,55 plus,146,Gen,0.710519

In [130]:
3554/6867*100

51.75476918596185

In [133]:
mla.collection_date.value_counts()

5-24-2017    774
5-25-2017    536
5-28-2017    397
6-1-2017     333
5-27-2017    331
5-30-2017    321
5-26-2017    299
5-29-2017    290
5-31-2017    273
Name: collection_date, dtype: int64

In [ ]:
#SOLUTION 9 - Create a pivot-table (or crosstab) with index as Past_Vote, Column as Vote_Now and cell values as the
#count of samples. Answer - survey.pivot_table(index = 'Past_Vote', columns = 'Vote_Now', values = 'response_id', aggfunc = 'count')

In [135]:
data.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,age_group,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,18-25,176,BC,0.333505

In [139]:
#. df.pivot( index= ‘Col_1’ , columns= ‘Col_2’ , values=’Col_3’) ,
## It returns a reshaped DF organized by given index/columns values
data.pivot_table(index="Past_Vote",columns="Vote_Now", values="weight")

Vote_Now,AAP,AIMIM,BJP,BSP,HAM,INC,JAP(L),JD(U),LJP,Left Front,NOTA,Others,Plurals,RJD,RJJP,RLSP,Undecided,VIP
Past_Vote,,,,,,,,,,,,,,,,,,
BJP,0.442817,0.349996,0.655878,0.084617,2.034257,1.305315,0.666783,0.620130,1.166820,0.641854,0.636322,0.261837,0.602539,0.681068,0.196609,0.832839,0.563284,1.869169
BSP,NaN,1.654731,2.587244,7.579705,NaN,2.298223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Did not vote,1.062923,1.075905,0.532785,1.664806,2.497170,1.277907,0.631763,0.687558,0.928165,0.812410,0.558030,0.662721,0.511495,0.920858,0.238180,1.680529,0.728938,2.139310
HAM,0.156304,NaN,1.195855,NaN,1.648856,NaN,0.237387,0.503360,0.659036,NaN,0.112771,NaN,NaN,1.285501,0.395613,NaN,NaN,NaN
INC,NaN,1.899609,0.367168,NaN,NaN,2.919511,1.882306,1.233778,NaN,1.589358,0.999836,0.517346,0.455653,1.996170,5.340403,0.085030,1.222639,NaN
JAP(L),NaN,NaN,0.157624,NaN,NaN,NaN,1.757626,NaN,NaN,NaN,NaN,3.195682,NaN,1.082412,NaN,NaN,NaN,NaN
JD(U),2.344061,2.752983,0.617065,0.178983,1.319787,2.131213,1.428226,1.871478,1.278097,1.438878,0.647421,1.622004,0.781150,1.511773,0.322075,1.977933,1.619009,3.445881
LJP,NaN,NaN,1.182203,2.481377,NaN,5.403346,2.458649,1.897135,2.985392,0.475453,0.271057,NaN,0.963983,1.894366,0.478933,NaN,1.709409,NaN
Left Front,NaN,2.298223,0.104793,NaN,NaN,2.291368,NaN,NaN,NaN,2.565705,0.201455,8.309203,NaN,1.685070,NaN,0.877960,NaN,3.020887
NOTA,NaN,1.061204,0.425941,0.051485,NaN,0.427148,1.235063,1.733195,0.451046,0.572717,0.843626,2.575044,0.362153,0.805123,0.223201,1.125669,0.667630,NaN
Others,13.661335,4.979173,0.850017,0.684568,1.505864,0.347385,0.715297,1.283155,2.481377,1.789863,0.941909,1.372780,0.339386,1.988496,0.259274,3.800565,0.463879,NaN
RJD,1.838616,3.823146,0.749360,NaN,NaN,2.376074,0.924735,1.454632,2.592656,3.933300,1.395204,2.092476,1.623064,1.303960,0.085758,1.132329,1.276710,3.290286
RLSP,NaN,NaN,1.088710,NaN,NaN,NaN,1.089752,NaN,NaN,NaN,0.365858,NaN,0.249701,2.089028,0.977831,1.958817,3.524302,8.258391

In [ ]:
#SOLUTION 10 - Repeat the above question with the cell values as the sum of “weight”

In [140]:
data.pivot_table(index="Past_Vote",columns="Vote_Now", values="weight",aggfunc="sum")

Vote_Now,AAP,AIMIM,BJP,BSP,HAM,INC,JAP(L),JD(U),LJP,Left Front,NOTA,Others,Plurals,RJD,RJJP,RLSP,Undecided,VIP
Past_Vote,,,,,,,,,,,,,,,,,,
BJP,2.214087,0.349996,925.443811,0.169233,10.171283,46.991349,56.009798,59.532497,43.172344,7.060397,101.175119,7.593278,43.985376,216.579639,14.155824,16.656773,27.600933,18.691691
BSP,NaN,1.654731,5.174487,22.739115,NaN,2.298223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Did not vote,7.440458,5.379527,104.425845,3.329611,2.497170,25.558140,21.479949,39.190810,8.353482,12.186149,41.294239,7.289933,23.017270,154.704138,3.810873,5.041587,18.223446,10.696552
HAM,0.312607,NaN,23.917108,NaN,1.648856,NaN,0.712161,1.006719,0.659036,NaN,0.225542,NaN,NaN,7.713008,0.791226,NaN,NaN,NaN
INC,NaN,9.498047,1.468670,NaN,NaN,157.653586,16.940750,9.870224,NaN,3.178717,5.999014,1.552038,0.911306,161.689806,5.340403,0.085030,8.558475,NaN
JAP(L),NaN,NaN,0.472873,NaN,NaN,NaN,42.183021,NaN,NaN,NaN,NaN,3.195682,NaN,2.164824,NaN,NaN,NaN,NaN
JD(U),11.720303,24.776845,135.137236,0.178983,2.639574,91.642142,84.265324,439.797335,30.674327,10.072149,49.204022,29.196072,29.683699,568.426737,3.220745,43.514525,48.570282,20.675288
LJP,NaN,NaN,80.389770,2.481377,NaN,21.613385,7.375946,11.382812,26.868529,0.475453,0.813171,NaN,1.927965,28.415494,0.478933,NaN,1.709409,NaN
Left Front,NaN,2.298223,0.209586,NaN,NaN,2.291368,NaN,NaN,NaN,38.485579,0.201455,8.309203,NaN,6.740281,NaN,0.877960,NaN,3.020887
NOTA,NaN,1.061204,11.500407,0.051485,NaN,3.844332,8.645440,12.132362,1.353138,2.863587,33.745052,12.875220,3.621531,19.322964,1.116006,4.502676,1.335260,NaN
Others,13.661335,19.916691,34.000662,0.684568,1.505864,1.389539,3.576484,3.849464,2.481377,3.579727,9.419087,8.236678,2.715087,33.804424,1.555646,3.800565,2.319396,NaN
RJD,5.515847,22.938874,31.473132,NaN,NaN,54.649693,24.967839,50.912126,5.185313,35.399702,25.113668,12.554855,12.984516,899.732307,0.085758,9.058629,15.320518,13.161145
RLSP,NaN,NaN,13.064523,NaN,NaN,NaN,3.269255,NaN,NaN,NaN,1.097574,NaN,0.499403,14.623193,1.955662,23.505807,3.524302,8.258391

In [ ]:
#SOLUTION 11 - Create a dataframe by performing a group by over age_group and calculate the count of total 
#samples under each age_group.

In [141]:
data.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,age_group,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,18-25,176,BC,0.333505

In [143]:
df1=data.groupby("age_group").count()

In [144]:
df1

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
age_group,,,,,,,,,,,,,,
18-25,1969,1969,1969,1969,1969,1969,1969,1969,1969,1969,1969,1969,1969,1969
25-40,3246,3246,3246,3246,3246,3246,3246,3246,3246,3246,3246,3246,3246,3246
41-55,570,570,570,570,570,570,570,570,570,570,570,570,570,570
55 plus,108,108,108,108,108,108,108,108,108,108,108,108,108,108

In [145]:
type(df1)

pandas.core.frame.DataFrame

In [ ]:
#SOLUTION 12 - Create a dataframe by performing a group by over age_group and finding the count of total samples for each age_group 
#that opted for the JD(U) party in Vote_Now.

In [146]:
data.head(1)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,age_group,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,18-25,176,BC,0.333505

In [147]:
data.Vote_Now.unique()

array(['JD(U)', 'BJP', 'RJD', 'JAP(L)', 'Others', 'NOTA', 'BSP', 'RJJP',
       'Plurals', 'AAP', 'INC', 'LJP', 'RLSP', 'HAM', 'Undecided', 'VIP',
       'Left Front', 'AIMIM'], dtype=object)

In [150]:
jdu=data[data.Vote_Now=="JD(U)"]

In [151]:
jdu

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,age_group,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,18-25,176,BC,0.333505
67,68,5-24-2017,Urban,12th Pass,"₹ 5,000 - ₹ 10,000",JD(U),Did not vote,Somewhat Satisfied,Fully Dissatisfied,24,Male,18-25,184,SC,2.427588
90,91,5-24-2017,Rural,Graduate,"₹ 80,000 - ₹ 1,50,000",JD(U),Did not vote,Fully Satisfied,Can’t say,22,Male,18-25,171,BC,0.333505
102,103,5-24-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",JD(U),JD(U),Fully Satisfied,Somewhat Dissatisfied,20,Male,18-25,173,BC,0.333505
123,124,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",JD(U),Others,Fully Satisfied,Somewhat Dissatisfied,24,Male,18-25,180,Gen,2.092567
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1572,1573,5-25-2017,Urban,Post - Graduation,"₹ 30,000 - ₹ 50,000",JD(U),BJP,Somewhat Satisfied,Fully Dissatisfied,65,Male,55 plus,133,Gen,0.206849
5248,5249,5-24-2017,Urban,Post - Graduation,"₹ 50,000 - ₹ 80,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,63,Male,55 plus,62,Gen,4.730010
5956,5957,6-1-2017,Urban,12th Pass,"₹ 20,000 - ₹ 30,000",JD(U),JD(U),Fully Satisfied,Fully Dissatisfied,57,Male,55 plus,156,Gen,2.359308
6341,6342,5-26-2017,Rural,Post - Graduation,"₹ 30,000 - ₹ 50,000",JD(U),INC,Fully Satisfied,Somewhat Dissatisfied,70,Male,55 plus,142,BC,1.495606
6787,6788,6-1-2017,Rural,10th Pass,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,60,Male,55 plus,144,SC,4.741094

In [153]:
df2=jdu.groupby("age_group").count()

In [154]:
df2

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
age_group,,,,,,,,,,,,,,
18-25,164,164,164,164,164,164,164,164,164,164,164,164,164,164
25-40,229,229,229,229,229,229,229,229,229,229,229,229,229,229
41-55,46,46,46,46,46,46,46,46,46,46,46,46,46,46
55 plus,10,10,10,10,10,10,10,10,10,10,10,10,10,10

In [ ]:
#SOLUTION 13 - Join/Merge the two dataframes from questions 12 and 11 with the common column as age_group.

In [155]:
df1

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
age_group,,,,,,,,,,,,,,
18-25,1969,1969,1969,1969,1969,1969,1969,1969,1969,1969,1969,1969,1969,1969
25-40,3246,3246,3246,3246,3246,3246,3246,3246,3246,3246,3246,3246,3246,3246
41-55,570,570,570,570,570,570,570,570,570,570,570,570,570,570
55 plus,108,108,108,108,108,108,108,108,108,108,108,108,108,108

In [156]:
df2

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
age_group,,,,,,,,,,,,,,
18-25,164,164,164,164,164,164,164,164,164,164,164,164,164,164
25-40,229,229,229,229,229,229,229,229,229,229,229,229,229,229
41-55,46,46,46,46,46,46,46,46,46,46,46,46,46,46
55 plus,10,10,10,10,10,10,10,10,10,10,10,10,10,10

In [158]:
#pd.merge( df1, df2, on=’Col_Name’ , how=’inner/outer/left/right’ )
# Merge ( ) - Column names must be same. Default – Inner Join
pd.merge(df1,df2, on="age_group", how="outer")

,response_id_x,collection_date_x,urban_rural_x,education_x,income_x,Vote_Now_x,Past_Vote_x,CM_satisfaction_x,MLA_satisfaction_x,age_x,...,income_y,Vote_Now_y,Past_Vote_y,CM_satisfaction_y,MLA_satisfaction_y,age_y,gender_y,assembly_no_y,category_y,weight_y
age_group,,,,,,,,,,,,,,,,,,,,,
18-25,1969,1969,1969,1969,1969,1969,1969,1969,1969,1969,...,164,164,164,164,164,164,164,164,164,164
25-40,3246,3246,3246,3246,3246,3246,3246,3246,3246,3246,...,229,229,229,229,229,229,229,229,229,229
41-55,570,570,570,570,570,570,570,570,570,570,...,46,46,46,46,46,46,46,46,46,46
55 plus,108,108,108,108,108,108,108,108,108,108,...,10,10,10,10,10,10,10,10,10,10

In [159]:
pd.merge(df1,df2, on="age_group", how="left")

,response_id_x,collection_date_x,urban_rural_x,education_x,income_x,Vote_Now_x,Past_Vote_x,CM_satisfaction_x,MLA_satisfaction_x,age_x,...,income_y,Vote_Now_y,Past_Vote_y,CM_satisfaction_y,MLA_satisfaction_y,age_y,gender_y,assembly_no_y,category_y,weight_y
age_group,,,,,,,,,,,,,,,,,,,,,
18-25,1969,1969,1969,1969,1969,1969,1969,1969,1969,1969,...,164,164,164,164,164,164,164,164,164,164
25-40,3246,3246,3246,3246,3246,3246,3246,3246,3246,3246,...,229,229,229,229,229,229,229,229,229,229
41-55,570,570,570,570,570,570,570,570,570,570,...,46,46,46,46,46,46,46,46,46,46
55 plus,108,108,108,108,108,108,108,108,108,108,...,10,10,10,10,10,10,10,10,10,10

In [160]:
pd.merge(df1,df2, on="age_group", how="right")

,response_id_x,collection_date_x,urban_rural_x,education_x,income_x,Vote_Now_x,Past_Vote_x,CM_satisfaction_x,MLA_satisfaction_x,age_x,...,income_y,Vote_Now_y,Past_Vote_y,CM_satisfaction_y,MLA_satisfaction_y,age_y,gender_y,assembly_no_y,category_y,weight_y
age_group,,,,,,,,,,,,,,,,,,,,,
18-25,1969,1969,1969,1969,1969,1969,1969,1969,1969,1969,...,164,164,164,164,164,164,164,164,164,164
25-40,3246,3246,3246,3246,3246,3246,3246,3246,3246,3246,...,229,229,229,229,229,229,229,229,229,229
41-55,570,570,570,570,570,570,570,570,570,570,...,46,46,46,46,46,46,46,46,46,46
55 plus,108,108,108,108,108,108,108,108,108,108,...,10,10,10,10,10,10,10,10,10,10

In [161]:
pd.merge(df1,df2, on="age_group")

,response_id_x,collection_date_x,urban_rural_x,education_x,income_x,Vote_Now_x,Past_Vote_x,CM_satisfaction_x,MLA_satisfaction_x,age_x,...,income_y,Vote_Now_y,Past_Vote_y,CM_satisfaction_y,MLA_satisfaction_y,age_y,gender_y,assembly_no_y,category_y,weight_y
age_group,,,,,,,,,,,,,,,,,,,,,
18-25,1969,1969,1969,1969,1969,1969,1969,1969,1969,1969,...,164,164,164,164,164,164,164,164,164,164
25-40,3246,3246,3246,3246,3246,3246,3246,3246,3246,3246,...,229,229,229,229,229,229,229,229,229,229
41-55,570,570,570,570,570,570,570,570,570,570,...,46,46,46,46,46,46,46,46,46,46
55 plus,108,108,108,108,108,108,108,108,108,108,...,10,10,10,10,10,10,10,10,10,10