Fitbit Dataset

1. Read this dataset in pandas , mysql and mongodb 
2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 ## hint - use csvkit library to automate this task and to load a data in bulk in you mysql 
3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format
4 . Find out in this data that how many unique id's we have 
5 . which id is one of the active id that you have in whole dataset 
6 . how many of them have not logged there activity find out in terms of number of ids 
7 . Find out who is the laziest person id that we have in dataset 
8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset 
9. how many person are not a regular person with respect to activity try to find out those 
10 . who is the thired most active person in this dataset find out those in pandas and in sql both . 
11 . who is the 5th most laziest person avilable in dataset find it out 
12 . what is a totla acumulative calories burn for a person find out

In [133]:
#SOLUTION QUE 1 Read this Fitbit Dataset in pandas , mysql and mongodb

In [134]:
#Reading CSV Data using Pandas

In [135]:
import pandas as pd

In [136]:
fitbit=pd.read_csv(r"D:\STUDY\PYTHON\BIG DATA PRACTICE\INeuron_pandas\FitBit data.csv")

In [137]:
fitbit

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [138]:
#Reading Data in SQL

In [139]:
#First to load excel file directly into database .followthe steps.
#step 1 : Right click on table 
#step 2 : Select "Table Data Import Wizard"
#step 3 : Select the file which we have to load (in our case, it is FitBit data.csv) and press next.
#step 4 : Select create new table and give the table name and press next.
#step 5 : Select the required conditions and press next. The data is loaded Successfully

In [140]:
##Pushing Data into Mongo DB
import pymongo
import pandas as pd
import json

In [142]:
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://New:new@cluster0.lidzegc.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [143]:
#convert csv to json to uplaod dataset in mongodb

In [144]:
fitbit.to_json("fitbit.json")

In [145]:
pwd# checked in presnt work directory

'C:\\Users\\Swapnil\\Ineuron Practice'

data=pd.read_json(r"C:\Users\Swapnil\Ineuron Practice\fitbit.json")#crosscheckd data is fine

In [146]:
with open (r"C:\Users\Swapnil\Ineuron Practice\fitbit.json") as file:
    data=[(json.load(file))]

In [148]:
database = client['fitbitdata']#USING CONNECTIVITY WITH CLIENT DATABASE fitbitdata created

In [149]:
collection = database["pandastask"]#table pandastask created

In [150]:
print(database)

Database(MongoClient(host=['ac-bkwo2y7-shard-00-02.lidzegc.mongodb.net:27017', 'ac-bkwo2y7-shard-00-00.lidzegc.mongodb.net:27017', 'ac-bkwo2y7-shard-00-01.lidzegc.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-6btsqa-shard-0', tls=True), 'fitbitdata')

In [69]:
collection.insert_many(data)

# SOLUTION QUE 2 while creating a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 ## hint - use csvkit library to automate this task and to load a data in bulk in you mysql

In [ ]:
#READING DATA IN SQL
import mysql.connector as conn
''' pip install mysql-connector-python'''
''' creating connection with sql  '''
mydb = conn.connect(host = "localhost" , user ="root" , passwd = "Ganpati@2022")
print(mydb)
'''connection established with sql '''
cursor=mydb.cursor()
cursor.execute("create database FitBitdataset")#data loaded in sql via connectivity from sql

In [152]:
#SOLUTION 3 convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format

In [153]:
fitbit.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [154]:
fitbit.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [85]:
fitbit["ActivityDate"]=pd.to_datetime(fitbit["ActivityDate"])

In [155]:
fitbit.head(2)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154

In [156]:
fitbit.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [96]:
#SOLUTION 4 Find out in this data that how many unique id's we have

In [157]:
fitbit.Id.unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       2891001357, 3372868164, 3977333714, 4020332650, 4057192912,
       4319703577, 4388161847, 4445114986, 4558609924, 4702921684,
       5553957443, 5577150313, 6117666160, 6290855005, 6391747486,
       6775888955, 6962181067, 7007744171, 7086361926, 8053475328,
       8253242879, 8378563200, 8583815059, 8792009665, 8877689391],
      dtype=int64)

In [158]:
len(fitbit.Id.unique())

35

In [159]:
#SOLUITION 5 which id is one of the active id that you have in whole dataset

In [160]:
fitbit.head(2)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154

In [162]:
fitbit["TotalActiveMinutes"]=(fitbit['VeryActiveMinutes']+fitbit['FairlyActiveMinutes'] + fitbit['LightlyActiveMinutes'])

In [163]:
fitbit["TotalActiveMinutes"].max()

720

In [165]:
fitbit.sort_values('TotalActiveMinutes', ascending=False).iloc[[0]]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,TotalActiveMinutes
139,2891001357,4/2/2016,4126,3.22,0.0,3.218688,0.0,0.0,3.22,0.0,0,0,720,720,2881,720

In [166]:
#SOLUTION 6 how many of them have not logged there activity find out in terms of number of ids

In [167]:
fitbit.head(2)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,TotalActiveMinutes
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,250
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,380

In [168]:
len(fitbit[fitbit['TotalActiveMinutes']== 0])

68

In [169]:
#SOLUTION 7 Find out who is the laziest person id that we have in dataset

In [170]:
fitbit.head(2)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,TotalActiveMinutes
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,250
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,380

In [181]:
fitbit[fitbit['Calories']>0].iloc[0]

Id                          1503960366
ActivityDate                 3/25/2016
TotalSteps                       11004
TotalDistance                     7.11
TrackerDistance                   7.11
LoggedActivitiesDistance           0.0
VeryActiveDistance                2.57
ModeratelyActiveDistance          0.46
LightActiveDistance               4.07
SedentaryActiveDistance            0.0
VeryActiveMinutes                   33
FairlyActiveMinutes                 12
LightlyActiveMinutes               205
SedentaryMinutes                   804
Calories                          1819
TotalActiveMinutes                 250
Name: 0, dtype: object

In [184]:
fitbit[fitbit['Calories']>0].sort_values(['Calories']).iloc[0]

Id                          1503960366
ActivityDate                 4/12/2016
TotalSteps                         224
TotalDistance                     0.14
TrackerDistance                   0.14
LoggedActivitiesDistance           0.0
VeryActiveDistance                 0.0
ModeratelyActiveDistance           0.0
LightActiveDistance               0.13
SedentaryActiveDistance            0.0
VeryActiveMinutes                    0
FairlyActiveMinutes                  0
LightlyActiveMinutes                 9
SedentaryMinutes                    32
Calories                            50
TotalActiveMinutes                   9
Name: 18, dtype: object

In [ ]:
#SOLUTION 8 Explore over an internet that how much calories burn is required for a healthy person 
#and find out how many healthy person we have in our dataset

In [185]:
fitbit.head(2)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,TotalActiveMinutes
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,250
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,380

In [ ]:
#According to Internet: As a general guideline, women typically burn about 2,000 calories per day and men burn about 2,500 calories per day. These numbers are often used to determine 
#an approximate food intake for weight maintenance. As we don.t know the exact gender of the person, we will take average of both.
#i.e. 2250 calories are required to be burned per day for a healthy person.

In [186]:
len(fitbit[fitbit['Calories']>2250]['Id'].unique())

24

In [189]:
#And if we consider the minimum calories of the required calories burnt, then :
len(fitbit[fitbit['Calories']>2000]['Id'].unique())

30

In [190]:
#SOLUTION 9 how many person are not a regular person with respect to activity try to find out those

In [191]:
fitbit

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,TotalActiveMinutes
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819,250
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154,380
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944,329
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932,283
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886,299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196,458
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841,388
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526,385
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820,250
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938,58

In [193]:
#SOLUTION 10  who is the third most active person in this dataset find out those in pandas and in sql both .

In [200]:
fitbit.sort_values('TotalActiveMinutes', ascending=False)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,TotalActiveMinutes
139,2891001357,4/2/2016,4126,3.22,0.00,3.218688,0.00,0.00,3.22,0.00,0,0,720,720,2881,720
138,2891001357,4/1/2016,0,0.00,0.00,4.828032,0.00,0.00,0.00,0.00,0,660,0,780,4562,660
142,2891001357,4/5/2016,2063,1.61,0.00,1.609344,0.00,0.00,1.61,0.00,0,0,630,99,1144,630
38,1644430081,4/1/2016,4636,3.41,3.41,0.000000,0.00,0.78,2.60,0.03,0,16,586,838,3323,602
39,1644430081,4/2/2016,20237,14.71,14.71,0.000000,2.57,6.40,5.73,0.01,34,141,347,918,4029,522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,4702921684,4/12/2016,0,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0,0,0,1440,0,0
180,4020332650,3/27/2016,7144,5.12,5.12,0.000000,0.00,0.00,0.00,0.00,0,0,0,1440,3510,0
179,4020332650,3/26/2016,4370,3.13,3.13,0.000000,0.00,0.00,0.00,0.00,0,0,0,1440,3444,0
178,4020332650,3/25/2016,5563,3.99,3.99,0.000000,0.00,0.00,0.00,0.00,0,0,0,1440,3681,0
405,8253242879,4/5/2016,0,0.00,0.00,0.000000,0.00,0.00,0.00,0.00,0,0,0,1440,1429,0